.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #078023;
    color: white;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 0px;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    color: aquamarine;
}